# Keep directory structure but ignore content
data/*
!data/.gitkeep

models/*
!models/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Environment
.venv
venv
.env
*.env

# Data files
*.parquet
*.csv
*.db

# Model files
*.bin
*.pkl
*.joblib
*.h5
*.onnx
*.tflite

# Terraform
.terraform/
.terraform.lock*
terraform.tfstate*

# Misc
.DS_Store
.idea
*.html
**/artifacts/